<%= link_to "Retour à l'index", items_path %>
<br><br>
<h1>Votre panier :</h1>

<p>
    <% @cart.items.each do |item| %>
        <h3><%= item.image_url %></h3>
        <ul>
          <li><%= item.title %></li>
          <li><%= item.description %></li>
          <li><%= item.price %></li>
          <%= button_to "Retirer du panier", item_cart_path(ItemCart.find_by(item_id: item.id).id), method: :delete %>
        </ul>
    <% end %>
</p>

<br><br>
<h1>Prix total : <%= @total %> EUROS</h1>
<br>
<%= button_to "Confirmer commande", orders_path, method: :post %>
