<%= link_to "Retour à l'index", items_path %>
<br><br>
<h1>Votre panier :</h1>

<p>
    <% @cart.items.each do |item| %>
        <h3><%= item.image_url %></h3>
        <ul>
          <li><%= item.title %></li>
          <li><%= item.description %></li>
          <li><%= item.price %></li>
          <%= button_to "Retirer du panier", item_cart_path(ItemCart.find_by(item_id: item.id).id), method: :delete %>
        </ul>
    <% end %>
</p>

<br><br>
<h1>Prix total : <%= @total %> EUROS</h1>
<br>
<%= button_to "Confirmer commande", orders_path, method: :post %>


----------------------- front à faire : 
<%= render 'layouts/return_index'%>

<div class="back">

  <h1 class="playfair display-4 text-center">Panier</h1>

  <div class="d-flex justify-content-center">
      <div class="left-profile up">
          <div class="up text-center">Nombre d'articles</div>
          <h3 class="up text-center mb-3">0</h3>
          <div class="up text-center">Total</div>
          <h3 class="up text-center mb-3">0,00€</h3>
          <a href="#">Passer commande</a>
          <a href="#">Vider le panier</a>
      </div>
      <div class="right-profile">

  <div class="d-flex flex-nowrap">

    <!-- article 1 -->
      <div class="w-100 preview-cart align-items-center d-flex justify-content-between flex-nowrap">
          <div><img src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="icone-preview">
          <a href="#" class="trash"><i class="fas fa-search"></i></a></div>
          <div class="preview-name up">Nom du chaton<br />
            <!--<span class="green">Quantité : 1</span>-->
          </div>
          <div class="preview-price">
            0.00 € <a class="trash" href="#"><i class="fas fa-trash-alt"></i></a>
          </div>
        </div>
  </div>

  </div>
  </div>

</div>