<%= link_to "Retour à l'index", items_path %>
<br><br>
<h1>Votre panier :</h1>

<p>
    <% @cart.items.each do |item| %>
        <h3><%= item.image_url %></h3>
        <ul>
          <li><%= item.title %></li>
          <li><%= item.description %></li>
        </ul>
    <% end %>
</p>

<%= button_to "Confirmer commande", orders_path, method: :post %>
