
    <% @items.each do |item| %>

        <div class="card">
        
        <%if item.image_url == nil %>
          <%= image_tag item.item_picture, alt: 'item_picture',:class => "card-img-top" %>
        <%else%>
          <%= image_tag item.image_url, :class => "card-img-top" %>
        <% end %>
    
          <div class="title-card up">
            <%= link_to "#{item.title}", item_path(item.id) %>
          </div>
    
          <div class="price-index up">
          <%= item.price %> €
          </div>
    
          <%= link_to cart_path(item.id), method: :put, :remote => true do %>
            <div class="add-to-cart">
              <i class="fas fa-shopping-cart"></i>
            </div>
          <% end %>
    
        </div>  
    
      <% end %>