<h1 class="text-center">Les photos de chatons :</h1>
<br><br>
<% @items.each do |item| %>
  <h3><strong><%= item.title %></strong></h3>
  <ul>
    <li><%= item.image_url %></li>
    <li><%= item.price %></li>
    <li><%= item.description %></li>
  </ul>
  <%= link_to "Ajouter au panier", cart_path(item.id), method: :put %>
  <br><hr>
<% end %>