<%= render 'layouts/return_index'%>

<div class="back">

  <h1 class="title-show playfair display-4">
  <%= @item.title %>
  </h1>

  <div class="tags-show">
  <% @tags.each do |t| %>
    <% tag = Tag.find(t.tag_id) %>
    <span class="tag-show up min">
    <%= tag.name %>
    </span>
  <%end%>
  </div>

  <div class="d-flex justify-content-between flex-nowrap">
    <div class="img-show">
      <%if @item.image_url == nil %>
        <%= image_tag @item.item_picture, alt: 'item_picture',:class => "card-img" %>
      <%else%>
        <%= image_tag @item.image_url, :class => "card-img-top" %>
      <% end %>
    </div>

    <div class="d-flex flex-column justify-content-between right-show">
      <p class="up">
        <span class="green">Taille de l'image :</span> 2000*1500px<br />
        <span class="green">Photographe :</span> pexel.com
      </p>

      <p class="describ">
        <%= @item.description %>
      </p>

      <p class="up">
        <span class="green">Prix :</span> <%= @item.price %> €
      </p>

      <%= link_to cart_path(@item.id), method: :put do %>
        <div class="add-to-cart-show up">Ajouter au panier</a>
      <% end %>
    </div>
  </div>

  </div>
</div>
