<%= render 'layouts/return_index'%>

<div class="back">

  <h1 class="title-show playfair display-4">
  <%= @item.title %>
  </h1>

  <div class="d-flex justify-content-between flex-nowrap">
    <div class="img-show">
    <%= image_tag @item.image_url, :class => "card-img" %>
    </div>

    <div class="d-flex flex-column justify-content-between right-show">
      <p class="up">
        <span class="green">Taille de l'image :</span> 2000*1500px<br />
        <span class="green">Photographe :</span> pexel.com
      </p>
      
      <p class="describ">
      Tags : <% t = ItemTag.where(item_id: @item.id) %>
      <% tt = Tag.all %>
      <% t.each do |tag|%>
        <% tid = tag.tag_id %>
        <% tt = Tag.find(tid) %>
        <%= tt.name %>
        <%end%>
      <br /><br />
        <%= @item.description %>
      </p>

      <p class="up">
        <span class="green">Prix :</span> <%= @item.price %> €
      </p>

      <%= link_to cart_path(@item.id), method: :put do %>
        <div class="add-to-cart-show up">Ajouter au panier</a>
      <% end %>
    </div>
  </div>

  </div>
</div>