<%= link_to "Retour à l'index", items_path %>
<br><br>
<%= @item.image_url %>
<br><br>
<h1 class="text-center"><strong><%= @item.title %></strong></h1>
<ul>
  <br>
  <li><%= @item.description %></li>
  <br>
  <li><%= @item.price %> euros</li>
</ul>