<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.first_name != nil %>
      <h1>Bonjour <%= @user.first_name %> <%=  %>, votre commande a bien été prise en compte !</h1>
    <% else %>
      <h1>Bonjour cher utilisateur, votre commande a bien été prise en compte !</h1>
    <% end %>

    <!-- ------------------------------ -->

    <% @all_items_cart.each do |item| %>
          <div class="preview-cart align-items-center d-flex justify-content-between flex-nowrap">
              <div>
                <%if item.item.image_url == nil %>
                  <%= image_tag item.item.item_picture, alt: 'item_picture',:class => "icone-preview" %>
                <%else%>
                  <%= image_tag item.item.image_url, :class => "icone-preview" %>
                <% end %>
              </div>
              <div class="preview-name up">
               <%= item.item.title %><br />
              </div>
              <div class="preview-price min">
                <%= item.item.price %> €
              </div>
            </div>
            <% end %>

    <p>
      Nous vous remercions de votre commande.
    </p>
    
    <!-- Affichage des images de chats commandées par l'utilisateur -->
    <p>Voici l'article que vous avez commandé : </p>
    <p><%= @item.image_url %></p>
    <p><%= image_tag @item.image_url %></p>
    <p><%= @item.price %> €</p> 


    <p>
      Pour accéder à ton espace client, connecte-toi via : <%=  %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
