<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <h1 class="playfair">Récapitulatif</h1>
    <% @cart.items.each do |item| %>
     
    <div class="preview-cart align-items-center d-flex justify-content-between flex-nowrap">
      <div>

      <%if item.image_url == nil %>
        <%= image_tag item.item_picture, alt: 'item_picture',:class => "icone-preview" %>
      <%else%>
        <%= image_tag item.image_url, :class => "icone-preview" %>
      <% end %>

      </div>

      <div class="preview-name up">
        <%= item.title %>
      <br />
      </div>

      <div class="preview-price">
        <%= item.price%> €
      </div>
    </div>
    <% end %>
    <br />
      <h3 class="up">Montant total : <%= @total %> €</h3>
  </article>
  
<br />
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Achat de photos de chatons"
          data-amount="<%= @total * 100.00 %>"
          data-locale="auto"
          data-currency="EUR"></script>
<% end %>